body {
    font-family: Arial, Sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f9f9;
    color: #234;
}
header {
    background-color: #4CAF50;
    color: grey;
    padding: 1em 0;
    text-align: center;
	font-size: 1.5em;
}
main {
    padding: 1em;
}

article {
    background: grey;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 1em;
	padding: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1255);
}
article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1em;
}
footer {
    background-color: #3CAF25;
    color: grey;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
	font-size: 1.2em;
}
